- name: Install docker
  hosts: all
  become: true

  tasks:
    - name: Install dependencies
      ansible.builtin.apt:
        state: present
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg-agent

    - name: Add official GPG key
      ansible.builtin.apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker APT repository
      ansible.builtin.apt_repository:
        repo: deb [arc=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
        state: present

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    - name: Install docker packages
      ansible.builtin.apt:
        name:
          - docker-ce
          - docker-ce-cli
          - docker-buildx-plugin
          - docker-compose-plugin
          - containerd.io
        state: latest
      # noqa: package-latest

    - name: Check if docker service is running
      ansible.builtin.service:
        name: docker
        state: started
        enabled: true

    - name: Add current user to docker group
      ansible.builtin.user:
        name: "{{ ansible_user }}"
        groups: docker
        append: true
      when: ansible_user != "root"

    - name: Print reminder to reboot or reload groups
      ansible.builtin.debug:
        msg: "Reboot the machine or run newgrp inside the machine"
